[package]
edition = "2021"
name = "stardust-xr-server"
version = "0.10.2"
authors = ["Nova King <technobaboo@proton.me>"]
description = "Stardust XR reference display server"
license = "GPLv2"
repository = "https://github.com/StardustXR/stardust-xr-server/"
homepage = "https://stardustxr.org"

[dependencies]
color-eyre = { version = "0.6.2", default-features = false }
clap = { version = "4.1.6", features = ["derive"] }
dashmap = "5.4.0"
glam = {version = "0.23.0", features = ["mint"]}
lazy_static = "1.4.0"
mint = "0.5.9"
nanoid = "0.4.0"
once_cell = "1.17.1"
parking_lot = "0.12.1"
portable-atomic = {version = "1.0.1", features = ["float", "std"]}
rustc-hash = "1.1.0"
tokio = { version = "1.25.0", features = ["rt-multi-thread", "signal"] }
send_wrapper = "0.6.0"
prisma = "0.1.1"
slog = "2.7.0"
xkbcommon = { version = "0.5.0", default-features = false, optional = true }
stardust-xr = "0.11.0"
directories = "4.0.1"
serde = { version = "1.0.152", features = ["derive"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
tracing-slog = "0.2.0"
global_counter = "0.2.2"
rand = "0.8.5"

[dependencies.stereokit]
default-features = false
features = ["linux-egl", "color_named", "prisma"]
version = "0.15.1"

[dependencies.smithay]
git = "https://github.com/technobaboo/smithay.git" # Until we get stereokit to understand OES samplers and external textures
default-features = false
features = ["desktop", "renderer_gl", "wayland_frontend"]
version = "*"
optional = true

[dependencies.console-subscriber]
version = "0.1.8"
optional = true

[dependencies.tracing-chrome]
version = "0.7.1"
optional = true

[features]
default = ["wayland"]
wayland = ["dep:smithay", "dep:xkbcommon"]
profile_tokio = ["dep:console-subscriber", "tokio/tracing"]
profile_app = ["dep:tracing-chrome"]

[profile.dev.package."*"]
opt-level = 3
[profile.release]
strip = true
lto = true

# [patch.crates-io.stereokit]
# path = "../stereokit-rs"
# [patch.crates-io.stereokit-sys]
# path = "../stereokit-sys"
# [patch.crates-io.stardust-xr]
# path = "../core/core"