[package]
edition = "2021"
rust-version = "1.75"
name = "stardust-xr-server"
version = "0.44.1"
authors = ["Nova King <technobaboo@proton.me>"]
description = "Stardust XR reference display server"
license = "GPLv2"
repository = "https://github.com/StardustXR/stardust-xr-server/"
homepage = "https://stardustxr.org"

[workspace]
members = ["codegen"]

[[bin]]
name = "stardust-xr-server"
path = "src/main.rs"

[features]
default = ["wayland"]
wayland = ["dep:smithay"]
profile_tokio = ["dep:console-subscriber", "tokio/tracing"]
profile_app = ["dep:tracing-tracy"]

[package.metadata.appimage]
auto_link = true
auto_link_exclude_list = [
    "libc*",
    "libdl*",
    "libpthread*",
    "ld-linux*",
    "libGL*",
    "libEGL*",
]

[profile.dev.package."*"]
opt-level = 3

[profile.release]
opt-level = 3
debug = "line-tables-only"
strip = "symbols"
debug-assertions = true
overflow-checks = false
lto = true
panic = 'unwind'


[dependencies]
# small utility thingys
once_cell = "1.19.0"
nanoid = "0.4.0"
lazy_static = "1.4.0"
rand = "0.8.5"
rustc-hash = "2.0.0"
portable-atomic = { version = "1.6.0", features = ["float", "std"] }
send_wrapper = "0.6.0"
slotmap = "1.0.7"
global_counter = "=0.2.2"
parking_lot = "0.12.3"

# rust errors/logging
color-eyre = { version = "0.6.3", default-features = false }
clap = { version = "4.5.7", features = ["derive"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }

# (de)serialization
serde = { version = "1.0.203", features = ["derive"] }
serde_repr = "0.1.19"
toml = "0.8.14"

# mathy stuffs
glam = { version = "0.28.0", features = ["mint", "serde"] }
mint = "0.5.9"
tokio = { version = "1.38.0", features = ["rt-multi-thread", "signal", "time"] }
prisma = "0.1.1"

# linux stuffs
libc = "0.2.155"
nix = "0.29.0"
input-event-codes = "6.2.0"
zbus = { version = "4.3.0", default-features = false, features = ["tokio"] }
directories = "5.0.1"
xkbcommon = { version = "0.7.0", default-features = false }

# wayland
wayland-scanner = "0.31.2"
wayland-backend = "0.3.4"

[dependencies.smithay]
# git = "https://github.com/technobaboo/smithay.git"
# git = "https://github.com/colinmarc/smithay.git"
git = "https://github.com/smithay/smithay.git"
# path = "../smithay"
default-features = false
features = [
    "desktop",
    "backend_drm",
    "backend_egl",
    "renderer_gl",
    "wayland_frontend",
]
optional = true

[dependencies.stereokit-rust]
# path = "../StereoKit-rust"
# git = "https://github.com/mvvvv/StereoKit-rust.git"
git = "https://github.com/technobaboo/StereoKit-rust.git"
default-features = false

[dependencies.console-subscriber]
version = "0.3.0"
optional = true

[dependencies.tracing-tracy]
version = "0.11.1"
optional = true

[dependencies.stardust-xr]
git = "https://github.com/StardustXR/core.git"
branch = "dev"

[dependencies.stardust-xr-server-codegen]
path = "codegen"
