name: CI

on:
  push:
    branches:
      - "*"

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install runtime dependencies
        run: sudo apt install -y --no-install-recommends libopenxr-dev libwayland-dev libasound2-dev

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build server
        run: cargo build --release
